<!DOCTYPE HTML>
<HTML>
  <HEAD>
    <TITLE>
    </TITLE>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link href="/stylesheets/style.css" rel="stylesheet">
  </HEAD>
  <body>
    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Color Blast</h1>
        <p>Colorful</p>
      </div>
      <div id="canvas_container">
        <canvas id = "canvas">
        </canvas>
      </div>
    </div> <!-- End container -->
  </body>
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="/bower_components/easeljs/lib/easeljs-0.8.1.min.js"></script>
  <script src="/bower_components/TweenJS/lib/tweenjs-0.6.1.min.js"></script>
  <script type="text/javascript" src="/javascripts/index.js"></script>
</HTML>
